{% extends 'base/main.html' %}
{% load static %}



<li><a href="{% url 'ingredients' %}" >Go to Ingredient List</a></li>



{% block content %}
<div class="homeScreen">

   {% if request.user.is_authenticated %}
    <p>Home | Welcome {{request.user}}</p>
   
   {%else%}
   {% block title %}
      Home | Welcome 
   {% endblock %}
   {%endif%} 
   
    <main class="main ">

       <h3>Mission Statement</h3>
       <div class="whiteCard">
          <p>Our mission is simple: connect resturants and local grocery stores to food banks in order to reduce and eliminate food waste in a more efficient manner. Through our website, donors can send their extra produce to charities, who can use this to provide meals for the hungry. </p>
       </div>
       <div class="whiteFlex">
          <div>
             <h3>Donate Food</h3>
             <div class="whiteCard">
                <p>We know how much unavoidable waste restaurants and grocery stores produce, so we want to help! ScrapSaver helps connect you to local charities. We will pick up your excess produce, such as carrots or potatoes, and send these over to a local charity.</p>
             </div>
          </div>
          <div>
             <h3>Receive food</h3>
             <div class="whiteCard">
                <p>As a food bank you will be responsible for looking for available products on ScrapSaver that resturants and grocery stores willl post. You can also put out requests for any specifc items that you want. </p>
             </div>
          </div>
       </div>
    </main>
    <footer class="footer">
       <h5>Connect With Us</h5>
       <div class="fooFlex">
          <div class="right">
             <a href="mailto:scrapsaver@gmail.com"> scrapsaver@gmail.com</a>
             <a href="tel:+14088934016">1(408)-893-4016</a>
          </div>
       </div>
    </footer>
 </div>

{% endblock content %}
{% comment %} {% extends 'base/main.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="mission w3-container w3-green w3-center" style="padding:60px 10px">
    <h1 class="w3-margin w3-xlarge">Mission Statement</h1>
    <p class="w3-medium">Our mission is simple: connect restaurants and local grocery stores to food banks in order
        to reduce and eliminate
        food waste in a more efficient manner. Through our website, donors can send their extra produce to
        charities,
        who can use this to provide meals for the hungry.</p>
    <!--  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>-->
    </header>
    <!-- Header 2-->

    <header class="inspiration w3-container w3-light-green w3-center" style="padding:60px 10px">
    <h1 class="w3-margin w3-xlarge">Inspiration</h1>
    <p class="w3-medium">Food insecurity is one of society’s fastest-growing concerns. Did you know that in 2019,
        about 10 million
        children alone suffered from food insecurity, and this alarming number is projected to increase at rapid
        rates?
        Despite producing enough food to sustainably feed everyone, the USA creates over 200 billion pounds of food
        waste each year. As high school students, we felt the need to take this issue into our own hands and create
        ScrapSaver, an effective communications platform for the relay of produce and cooked meals between
        restaurants
        and hotels to food banks and grocery drives.</p>
    <!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>-->
    </header>


    <!-- First Grid -->
    <div class="donate w3-row-padding w3-padding-64 w3-container col-lg-1 col-sm-12 first-smaller">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Donate Food</h1>
                <h5 class="w3-padding-32">We know how much unavoidable waste restaurants produce, and we want to help!
                    ScrapSaver helps connect you to
                    local charities. We will pick up your excess produce, such as carrots or potatoes, and send these
                    over to a
                    local charity.</h5>
                <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Donate
                    here</button>

            </div>

            <div class="w3-third w3-center">
                <img src="images/donate.jpg" width="120%" height="100%" style="padding:80px 10px">
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>

            <div class="w3-twothird">
                <h1>Receive Food</h1>
                <div style="padding:80px 10px">
                    <h5 class="w3-padding-32">As a food bank you will be responsible for
                        looking
                        for available
                        products on
                        ScrapSaver that resturants and
                        grocery stores will post. You can also put out requests for any specific items that you want.
                    </h5>
                    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-center">Recieve
                        Donations here</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %} {% endcomment %}